
<!-- Topbar View  -->


<div class ='navbar'>
  <img src = "assets/logo.svg" class = 'image__logo'>
  <div class = 'navbar__tab'>
    <%= link_to 'Properties', '/properties' %>
  </div>

  <div class = 'navbar__tab'>
    <%= link_to 'New Property', '/properties/new' %>
  </div>



</div>
