/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /**
* CONTENTS
*
* ELEMENTS
*
* BLOCKS
 * .btn
 * .wrapper
 * .navbar
 * .form
 * .display-polls
 *
*
* TOOLS
* Mixins...............Useful mixins.
*
* GENERIC
* Normalize.css........A level playing form__field.
* Box-sizing...........Better default `box-sizing`.
*
* BASE
* Headings.............H1–H6 styles.
*
* OBJECTS
* Wrappers.............Wrapping and constraining elements.
*
* COMPONENTS
* Page-head............The main page header.
* Page-foot............The main page footer.
* Buttons..............Button elements.
*
* TRUMPS
* Text.................Text helpers.
*/




/*------------------------------------*\
 #COLORS
\*------------------------------------*/

/*
#C5C1C0
#0A1612
#1A2930
#F7CE3E
*/


/*------------------------------------*\
 #ELEMENTS
\*------------------------------------*/

body {
  background-color: #DFDBDA;
  color: black;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 18px;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

table {
    padding: 30px;
    margin: 30px;
    margin-left: 0;
    border-collapse: collapse;
    color: #f4f4f4;
  }

  thead {
    background-color: #1A2930;
  }

  th {
    font-weight: lighter;
    padding: 15px;
    font-size: 1.4em;
  }

  tbody {
    background-color: white;
    color: #0A1612;
  }

  tr:nth-child(even) {
    background-color: #1A2930;
    color: #f4f4f4;
  }

  th, td, table {
      border: 1px solid #0A1612;
      padding: 15px;
      text-align: center;
  }

  th, td {
    width: fit-content;
  }

.min-price {
  border: 1px solid #0A1612;
  padding: 15px;
  text-align: center;
  background-color: #1A2930;
  color: #f4f4f4;
  width: fit-content;
}

/*slideshow styles*/

#slideshow {
    display: flex;
    width: 100%;
  }

  .arrow {
    height: 100px;
    width: 100px;
    font-size: 100px;
    background-color: #DFDBDA;
    color: #373737;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 130px;
    margin-bottom: auto;
  }

  .arrow:hover {
    color: #9D9D9D;
  }

  #left {
    margin-right: 20px;
  }

  #right {
    margin-left: 20px;
  }

  button:focus {outline:0;}

  .image-container {
    width: 600px;
    height:400px;
    background: none;
    display: flex;
    /*flex-direction: column;*/
  }

  .inner-image-container {
    width: 600px;
    height:400px;
    background: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #image {
    width: 600px;
    height: 400px;
  }

  .caption {
   /*height: 100px;*/
   padding-top:10px;
   width: 500px;
   font-size: 1em;
   margin-left: 130px;
   background: none;
   color: #373737;
 }


/*------------------------------------*\
# image
\*------------------------------------*/

.image {
  width: 360px;
  height: 230px;;
}

.image--large {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}





/*------------------------------------*\
#wrapper
\*------------------------------------*/

.wrapper {
  margin: 100px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper--horizontal {
  display: flex;
}

.wrapper--vertical {
  display: flex;
  flex-direction: column;
}




/*------------------------------------*\
#navbar
\*------------------------------------*/

.navbar {
  color: white;
  background-color: #0A1612;
  display: flex;
  width: 100%;
  height: 60px;
  margin: 0;
  box-shadow: 4px 4px 6px black;
  border-radius: 0;
}

.navbar__tab {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.2em;
}

.navbar__login {
  margin-right: 171px;
  /*margin-left: 40px;*/
}

.navbar__img{
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar__img--profile{
  border-radius: 50%;
  margin-right: 10px;
}

.navbar__img--logo{
  margin-left: 150px;
  margin-right: auto;
}








/*------------------------------------*\
 #btn
\*------------------------------------*/

.btn {
  font-size: 1em;
  width: fit-content;
  height: 40px;;
  padding: 4px;
  background-color: white;
  color: #0E0B16;
  cursor: pointer;
  width: 150px;
  padding: 4px;
  border-radius: 5px;
}

.btn--offer {
  background-color: #1A2930;
  color: white;
  margin-top: 20px;
}

.btn--property {
  margin-left: 60px;
  margin-top: auto;
  margin-bottom: 18px;
}





/*------------------------------------*\
 #search
\*------------------------------------*/

.search {
  margin-left: 0;
  margin-right: 80px;
  height: 60px;
}

.search__input {
  font-size: 1.2em;
  height: 60px;
  width: 1121px;
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: 9px;
}

.search__btn {
  height: 20px;
  margin: auto;
  margin-left: 10px;
  width: 80px;
}

input#search{
 background-image: url("search.svg");
 background-repeat: no-repeat;
 background-size: contain;
 text-indent: 40px;
 margin:10px;
 border: 20px solid white;
}

/*input#search:focus{
 background-image:none;
}*/






/*------------------------------------*\
 #form
\*------------------------------------*/



.form {
  width: fit-content;
  padding: 40px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /*box-shadow: 1px 2px 3px #817977;*/
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  margin-left: 0;
}

.form__field--row {
  display: flex;
  flex-direction: row;
}

.form__field > div {
  padding: 0;
}

.form__field > select {
  height: 20px;
  width: 40px;
}

.form__label {
  margin-bottom: 20px;
  font-size: 1.2em;
}






/*------------------------------------*\
# properties
\*------------------------------------*/

.properties {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 1200px;
}

.properties__block {
  display: flex;
  margin: 80px;
  margin-left: 0;
  margin-bottom: 0;
  width: 300px;
  height: 250px;
  color: white;
  padding: 0px;
  border-radius: 10px;
}

.properties__block--large {
  margin-top: 0;
  width: 600px;
  height: 400px;
}

.properties__address {
  font-size: 0.8em;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 10px;
}

.properties__price {
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0px;
  padding-left: 10px;
}

/*------------------------------------*\
# bright-text
\*------------------------------------*/

.bright-text {
  font-size: 2em;
  color: #1A2930;
  margin-bottom: 40px;
}





/*------------------------------------*\
#error-explanation
\*------------------------------------*/

.error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
