/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /**
* CONTENTS
*
* ELEMENTS
*
* BLOCKS
 * .btn
 * .wrapper
 * .navbar
 * .form
 * .display-polls
 *
*
* TOOLS
* Mixins...............Useful mixins.
*
* GENERIC
* Normalize.css........A level playing form__field.
* Box-sizing...........Better default `box-sizing`.
*
* BASE
* Headings.............H1–H6 styles.
*
* OBJECTS
* Wrappers.............Wrapping and constraining elements.
*
* COMPONENTS
* Page-head............The main page header.
* Page-foot............The main page footer.
* Buttons..............Button elements.
*
* TRUMPS
* Text.................Text helpers.
*/


/*------------------------------------*\
 #COLORS
\*------------------------------------*/

/*
#C5C1C0
#0A1612
#1A2930
#F7CE3E
*/


/*------------------------------------*\
 #ELEMENTS
\*------------------------------------*/

body {
  background-color: #DFDBDA;
  color: black;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 18px;
}


pre {
  background-color: #C5C1C0;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: inherit;
}


th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

img {
  width: 300px;
  height: 250px;
}



/*------------------------------------*\
# image
\*------------------------------------*/

.image {
  width: 300px;
  height: 150px;
  z-index: 11;
}

.image__logo {
  width: 60px;
  height: 60px;
  margin-left: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.image--large {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}


/*------------------------------------*\
#wrapper
\*------------------------------------*/

.wrapper {
  margin: 100px;
  display: flex;
  flex-direction: column;
}

.wrapper--horizontal {
  display: flex;
}

.wrapper--vertical {
  display: flex;
  flex-direction: column;
}




/*------------------------------------*\
#navbar
\*------------------------------------*/

.navbar {
  color: white;
  background-color: #0A1612;
  display: flex;
  width: 100%;
  height: 60px;
  margin: 0;
  box-shadow: 4px 4px 6px black;
}



.navbar__tab {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  font-size: 1.2em;
}

/*------------------------------------*\
 #btn
\*------------------------------------*/

.btn {
  font-size: 1em;
  width: fit-content;
  height: 40px;;
  padding: 4px;
  background-color: white;
  color: #0E0B16;
  cursor: pointer;
  width: 150px;
  padding: 4px;
  border-radius: 5px;
}

.btn--offer {
  background-color: #1A2930;
  color: white;
  margin-top: 20px;
}





/*------------------------------------*\
 #form
\*------------------------------------*/

.form {
  width: fit-content;
  padding: 40px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /*box-shadow: 1px 2px 3px #817977;*/
}


.form__field {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  margin-left: 0;
}

.form__field--row {
  display: flex;
  flex-direction: row;
}

.form__field > div {
  padding: 0;
}

.form__field > select {
  height: 20px;
  width: 40px;
}

.form__label {
  margin-bottom: 20px;
}






/*------------------------------------*\
# properties
\*------------------------------------*/

.properties {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.properties__block {
  display: flex;
  margin: 60px;
  margin-left: 0;
  margin-bottom: 0;
  width: 300px;
  height: 250: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.properties__block--large {
  margin-top: 0;
  width: 600px;
  height: 400px;
}

.properties__address {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 10px;
}

.properties__price {
  background: none;
  margin-right: 10px;
  margin-top:10px;
  margin-left: auto;
  z-index: 10;
  position: absolute;
}

/*------------------------------------*\
# bright-text
\*------------------------------------*/

.bright-text {
  font-size: 2em;
  color: #1A2930;
  margin-bottom: 40px;
}





/*------------------------------------*\
#error-explanation
\*------------------------------------*/

.error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
